body {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/089d21ad-7782-4104-89c2-a65435feaa61/da6ks5a-344a9f7a-bbdc-42b6-9ebe-df7ca2d32799.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA4OWQyMWFkLTc3ODItNDEwNC04OWMyLWE2NTQzNWZlYWE2MVwvZGE2a3M1YS0zNDRhOWY3YS1iYmRjLTQyYjYtOWViZS1kZjdjYTJkMzI3OTkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UZk_90YLEW2QTobmrD1Wwgab016coYzw7V8MexSTqtg);
  background-repeat: no-repeat;
  background-size: 100% 282%;
}

.App {
  text-align: center;
  list-style-position: inside;
  padding-top: 5%;
}

h1 {
  margin-bottom: 2%;
}

ul {
  margin-top: 1.5%;
}

li {
  margin-right: 2.5%;
  font-size: large;
  padding-bottom: .5%;
  font-weight: bold;
}

form input {
  padding: 6px;
  font-weight: bold;
}

button {
  padding: 6px;
}

.remove-btn {
  margin-left: 1%;
  color: red;
  border-radius: 15%;
  padding: 3px 3px
}