.App {
  display: grid;
  grid-template-columns: 240px 240px ;
  grid-template-rows: 240px 240px;
  margin-left: 40%;
  margin-top: 5%;
  grid-gap: 1%;
}

body {
  background-image: url(https://wallpaperaccess.com/full/8642986.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.square{
  width: 240px;
  height: 240px;
  border: 3px solid black;
}

button {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  left: 1.6%;
  cursor: pointer;
}

.button1 {
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}